header {
      width: 100%;
      padding: 15px;
      margin-bottom: 30px;
      background-color:#FFCCFF
      
    }
 
footer {
      width: 100%;
      padding: 15px;
      margin-top: 30px;
      background-color:#FFCCFF
    }
 
table th {
        background-color: #FFDDFF;
        padding: 10px 20px;
    }
 
table td {
        background-color: #FFEEFF;
        padding: 10px 20px;
    }
 
.notice {
        background-color: #ccf;
        padding: 5px;
    }
.posts-content {
        width: 350px;
        height: 200px;
    }
